.camera-container {
  position: relative;
  & video {
    height: 500px;
    width: 375px;
    border: 0.5em solid #fff;
    background-color: $background;
  }

  & button {
    @include button;
  }

  &_takePicBtn {
    position: absolute;
    bottom: 60px;
    left: 35%;
    z-index: 1000;
    font-size: 1rem;
    padding: 0.35rem 0.5rem !important;
  }

  & canvas {
    position: absolute;
    border: 1px solid black;
    height: 500px;
    width: 375px;
    left: 0px;
    border: 0.5em solid #fff;
  }
}
