.camera-container {
  position: relative;
  & video {
    height: 500px;
    width: 375px;
    border: 0.5em solid #fff;
    background-color: $background;
  }

  & button {
    @include button;
  }

  &_takePicBtn {
    position: absolute;
    bottom: 60px;
    left: 30%;
    z-index: 1000;
    font-size: 1rem;
  }

  &_3s {
    position: absolute;
    bottom: 50px;
    left: 3%;
    z-index: 1000;
    font-size: 1rem;
    background-color: transparent !important;
    border: none !important;
  }

  & canvas {
    position: absolute;
    border: 1px solid black;
    height: 500px;
    width: 375px;
    object-fit: cover;
    left: 0px;
    border: 0.5em solid #fff;
  }

  &-message {
    position: absolute;
    right: 30px;
    bottom: 94px;
    text-align: center;
    width: 8rem;
    font-size: 0.6em;
    padding: 0.25em 0;
    background-color: $primary-color;
    color: #eee;
    border-radius: 0.1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: opacity 0.3s;
    z-index: 2000;

    &--hide {
      display: none;
    }
  }
}

.hide {
  display: none;
}
